@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#view{
  opacity: 0;
  transform: translateY(100px);
}

#view.show{
  transform: translateY(0);
  opacity: 1;
  transition: 1s ease-in;
}

body {
  font-family: Arial, sans-serif;
  background-color: #f0efed;
  color: #333;
  line-height: 1.6;
    display: flex;
    align-items: center;
    flex-direction: column;
  
}
a{
  color: #ffcfc0;
  text-decoration: none;
  font-size: 12px;
}
a:hover{
  color: #ff8c69;
  text-decoration: underline;
}
/* Navbar */
.navbar {
  display: flex;
    gap: 25px;
    background-color: #1a2456;
    width: 97%;
    height: 55px;
    position: fixed;
    z-index: 1000;
    margin: 10px;
    padding: 10px;
    justify-content: space-between;
    align-items: center;
}

.logo {
  display: flex;
    color: #ffccbb;
    align-items: center;
    justify-content: start;
    width: 143px;
}

.logo:hover {
  color: #ff8b68;
}

.nav-links {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  width: 79%;
}

.nav-links li {
  margin-right: 30px;
  position: relative;
}

.nav-links a {
  text-decoration: none;
  color: #ffcfc0;
  font-size: 14px;
}

.nav-links a:hover {
  color: #fabba6;
}

.dropdown-content,
.currency-dropdown {
  display: none;
  position: absolute;
  top: 100%;
  left: 0;
  background-color: white;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1;
  padding: 10px 0;
}

.dropdown-content li {
  width: 170px;
}
.currency-dropdown li {
  width: 100px;
}
.dropdown-content a,
.currency-dropdown a {
  color: #1a2456;
  padding: 10px 16px;
  display: block;
}

.dropdown-content a:hover,
.currency-dropdown a:hover {
  background-color: #ddd;
}

.dropdown:hover .dropdown-content,
.dropdown:hover .currency-dropdown {
  display: block;
}

.currency-dropdown {
  left: auto;
  right: 0;
}
/* first img with overlay text */
.firstimg {
  width: 100%;
  height: 700px;
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("imgs/shop_cta_xl_896f6b8270.webp");
  background-size: cover;
}

.overlay-text {
  width: 40%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-size: 1.1em;

  text-align: center;
  z-index: 2;
  line-height: 50px;
  color: #ffccbb;
}

.overlay-text h1 {
  font-weight: bold;
  text-transform: uppercase;
}
/* products */
.container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 20px;
  max-width: 1000px;
  width: 70%;
  margin: 120px auto 0;
}

.product {
  position: relative;
  background-color: #f0efed;
  text-align: left;
}

.product img {
  width: 100%;
  height: 75%;
  object-fit: cover;
  transition: opacity 0.5s ease;
}

.product .hover-img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 75%;
  opacity: 0;
  z-index: 1;
  transition: opacity 0.5s ease;
}

.product:hover .hover-img {
  opacity: 1;
}

.product:hover .default-img {
  opacity: 0;
}

.product-info {
  padding: 10px;
}

.product-title {
  color: #1a2456;
  font-size: 1.2em;
  margin-bottom: 10px;
}

.product-description {
  font-size: 0.9em;
  color: #555;
  margin-bottom: 15px;
}

.product-status {
  font-size: 0.9em;
  font-weight: bold;
  text-transform: uppercase;
  padding: 5px 10px;
  border-radius: 5px;
  display: inline-block;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #ff8b68;
  color: white;
}

.sold-out-text {
  color: #555;
  text-transform: uppercase;
  font-size: 0.8em;
  display: inline-block;
}

.product-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.big-img {
  width: 100%;
  display: flex;
  justify-content: center;
  background-color: #bfbfbfe3;
  position: relative;
  padding-top: 60px;
}
.big-img img {
  width: 50%;
  aspect-ratio: 4 / 2;
}
.text {
  position: absolute;
  text-align: center;
  font-size: xx-large;
  top: 0;
}
.con {
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  margin-top: 50px;
  gap: 50px;
  padding-bottom: 50px;
}
.img {
  width: 25%;
  position: relative;
}



.img h1 {
  margin: 0;
}
.img p {
  position: absolute;
  bottom: 0;
  right: 0;
  font-size: 25px;
  color: #00000069;
  text-align: center;
}
.order {
  padding: 5px 25px;
  background-color: #ff8b68;
  position: absolute;
  top: 5%;
  right: 0;
  font-size: x-large;
  z-index: 1;
}
.img img {
  aspect-ratio: 3/3;
}
.img .img2{
  position: absolute;
  top:0;
  width: 100%;
  z-index: 1;
}


.img .img2:hover{
  opacity: 0;
  transition-duration: 1s;
}
.img-con {
  width: 100%;
  display: flex;
  align-items: flex-start;
  justify-content: center;
  gap: 100px;
}
.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  padding: 30px 0;
  padding-bottom: 100px;
  background-color: #1a2456;
  position: relative;
}
ul{
  list-style: none;
}
h2{
  color: #ffcfc0;
  font-size: 15px;
}
.MONOGRAM-QUICK-LINK {
  width: 25%;
  display: flex;
  justify-content: center;
  align-items: start;
}

.mongram {
  width: 50%;
}

.link {
  width: 50%;
}
.hlp-info-sub {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.help-info {
  width: 55%;
  display: flex;
  justify-content: center;
  align-items: start;
}
.hlp {
  width: 50%;
}
.info {
  width: 50%;
}
.sub {
  width: 45%;
  top: 0;
  left: 0;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: start;
  gap: 5px;
}
.sub p{
  color: #ffcfc0;
  padding: 0;
  margin: 0;
}
.input-btn{
  display: flex;
  align-items: center;
  gap: 5px;
}
.sub button{
  color:#1a2456;
  background-color: #ffc2af77;
  padding: 5px 15px;
  padding-bottom: 10px;
  border-radius: 50px;
  border: none;
  font-size: 10px;
}
.social{
  display: flex;
  gap: 5px;
}
.social li{
  border: 1px solid #ffcfc0;
  border-radius: 100%;
  display: flex;
}

input{
  border-color: #ffcfc0;
  background: none;
  width: 150px;
  font-size: 20px;
}
::placeholder{
  color: #ffcfc0;
  font-size: 15px;
}
h5{
  color: #ffcfc0;
}
.link h4{
  color: #ffcfc0;
  display: none;
}
.nav-links2{
  display: none;
}
@media screen and (max-width: 1550px) {
  .img h1 {
    font-size: 20px;
  }
  .img p {
    font-size: 15px;
  }
  .navbar {
    height: 45px;
  }
  .nav-links li a {
    font-size: 15px;
  }
  .order {
    font-size: 15px;
  }
}
@media screen and (max-width: 1000px) {
  
  .nav-links {
    display: none;
  }
  .nav-links2 {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    width: 50%;
  }
  
  .nav-links2 li {
    margin-right: 10px;
    position: relative;
    display: flex;
    align-items: center;
  }
  
  .nav-links2 a {
    text-decoration: none;
    color: #ffcfc0;
    font-size: 14px;
  }
  
  .nav-links2 a:hover {
    color: #fabba6;
  }
  .container {
    grid-template-columns: 1fr;
  }
  .img-con {
    flex-direction: column;
    align-items: center;
  }
  .img h1 {
    font-size: 40px;
  }
  .img p {
    font-size: 25px;
  }
  .big-img img {
    width: 100%;
  }
  .text {
    font-size: 20px;
  }
  .logo {
    font-size: 10px;
    width: 80px;
  }
  .nav-links li a {
    font-size: 10px;
  }
  .footer{
    justify-content: flex-start;
  }
  .help-info {
    flex-direction: column;
    width: 100%;
    gap: 20px;
  }
  .overlay-text{
    width: 100%;
  }
  .hlp{
    width: 100%;
  }
  .info{
    width: 100%;
  }
  .hlp-info-sub {
    flex-direction: column-reverse;
    width: 50%;
    gap: 20px;
  }
  .MONOGRAM-QUICK-LINK {
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    width: 50%;
    gap: 20px;

  }
  .mongram{
    width: 100%;
  }
  .link{
    width: 100%;
  }
  
  .img {
    width: 90%;
  }
  .sub {
    width: 100%;
  }
  .container{
    display: flex;
    flex-direction: column;
    margin: 100px 0;
    width: 90%;
  }
  .product{
    width: 100%;
  }
  
}
@media screen and (max-width: 600px) {
  .img {
    width: 95%;
  }
  .img h1 {
    font-size: 20px;
  }
  .img p {
    font-size: 15px;
  }
  .overlay-text {
    font-size: 13px;
  }
  .order {
    font-size: 10px;
  }
  .text {
    font-size: small;
  }
  
  .sub {
    width: 97%;
    position: absolute;
    font-size: 10px;
    top:5%;
    left: 3%;
  }
  h2{
    font-size: 10px;
  }
  a{
    font-size: 9px;
  }
  .footer{
    padding: 155px 0;
    padding-left: 20px;
  }
  h5{
    display: none;
  }
  .link h4{
    display: block;
    font-size: 7px;
    margin-top: 20px;
  }
}

